<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ParallelDemo" thread-count="10" parallel="tests">

     <test name="Batch1" parallel="methods">
        <classes>
            <class name="functional.tests.Demo1"/>
        </classes>
     </test>

    <test name="Batch2" parallel="classes">
        <classes>
            <class name="functional.tests.Demo2"/>
        </classes>
    </test>

</suite>
